a{
    color: rgb(135, 135, 135);
}


.single-details{
    margin: 0 auto;
    max-width: 1366px;
    min-width: 1128px;
    padding: 0;
    width: 100%;
    position: relative;

}
.single-details-sub-div{
    background-color: white;
    padding: 16px;
    display: flex;
    flex-flow: row ;

}
.single-img{
    display: flex;
    flex-flow: column;
    position: sticky;
    top: 64px;
    bottom: 0;
    z-index: 2;
    align-self: flex-start;
    width: 41.66%;

}
.aboveButton-img{
    position: relative;
    display: flex;
    align-items: stretch;

}
.sidescroll-img{
    height: 448px;
    position: relative;
    overflow: hidden;
}
.side-li{
    height: 64px;
    width: 64px;
    border-color: #f0f0f0 !important;
    border-right: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    cursor: pointer;
    padding: 5px;
   
    position: relative;


}
._0DkuPH{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 5px;
}
.downSelect{
    display: block;
    position: absolute;   
    width: 100%;
    bottom: 0;
    border-top: 0;
    height: 24px;
    left: 0;
    text-align: center;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, .3);
    background-color: hsla(0, 0%, 100%, .98);
    cursor: pointer;
    border: 1px solid #e0e0e0;                
}
.ZpyMwK{
    transform: rotate(-90deg);
    position: relative;
    top: 4px;
}
.sideimgss{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #f0f0f0;
    flex: 1;
    text-align: center;
    margin: 0px auto;
}
.img-phn-des{
    cursor: crosshair;
    display: inline-block;
    max-height: 416px;
    max-width: 416px;
    vertical-align: top;
    position: inherit;
    margin: auto;
    opacity: 1;
}
.aboveBT-heart{
    cursor: pointer;
    position: relative;
    right: 15px;
    top: -195px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 9px 12px 12px 9px;
    background-color: white;
}

.belowbt{
    display: block;
    margin-left: 64px;
    margin-top: 12px;
}
.below-ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}
.below-li{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.add-BT{
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #ff9f00;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    /* display: inline-block; */
    font-weight: 500;
    vertical-align: super;
    outline: none;
    font-family: "semi-bold";

}

.NwyjNT{
    margin-right: 4px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.buyBt{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0,.2);
    float: right;
    font-family: "semi-bold";

}

.single-des{
    padding: 0px 0px 0px 24px;
    display: flex;
    flex-flow: column;
    width: 66.66%;
}


/* navgation */
.navgation{
    display: flex;
    flex-flow: row;
}
.navg-sub{
    display: block;
    flex-grow: 1;
    overflow: auto;
}
.home{
    font-size: 12px;
    color: #878787;
    display: inline-block;
}
.home-a{
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
        color: rgb(135, 135, 135);

}
.sfneHK{
    height: 7px;
    width: 20px;
    transform: rotate(180deg);
    vertical-align: middle;
}
.nav-comp{
    flex: 0 0 90px;
    max-width: 90px;
    width: 100%;
    text-align: right;
    vertical-align: middle;
}
.comp{
    vertical-align: middle;
    margin-left: 8px;
    font-size: 14px;
    color: #212121;
    cursor: pointer;

}
.navShare{
    flex: 0 0 90px;
    max-width: 90px;
    text-align: right;
}
.share{
    margin-left: 5px;
    position: relative;
    top: -6px;
    
}



.phone-des-single{
    padding: 0;
    margin-top: 6px;
}
.phn-name-sin{
    line-height: 1.4;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    font-family: "inter-regu";
}
.single-rating{
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
    cursor: pointer;
}
.rating-span{
    position: relative;
    line-height: normal;
    display: inline-block;
    color: white;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;
}
.Rza2QY{
    margin: 2px 0 0 2px;
    height: 10px;
}
.rating-word-single{
    padding-left: 8px;
    font-weight: 500;
    color: #878787;
}
.assured-single{
    margin-left: 12px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}
.phone-price-sin{
    display: flex;
    padding-top: 12px;

}
.sing-price{
    font-size: 28px;
    vertical-align: sub;
    display: inline-block;
    font-weight: 500;
    color: #212121;
    font-family: "semi-bold";

}

.buyNowSpan{
    display: inline-block;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMHY3LjdoMi4xVjE0TDcgNS42SDQuMkw3IDAiIGZpbGw9IiNGRkYiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
}

.single-og-price{
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
}
.single-discount{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "semi-bold";


}
.aboutIc{
    margin: 14px 0 0 8px;
    cursor: pointer;
    
}
.deliverDet{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "inter-regu";
}
.promiseDiv{
    padding-bottom: 4px;
}
.learnMore{
    color: #2874f0;
    font-weight: 500;
    font-family: "semi-bold";

} 
.deliveryDate{
    display: flex;
} 
.availbleOffer{
    margin-top: 8px;
}  
.avail{
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    font-family: "semi-bold";

} 
.offerDet{
    line-height: 1.43;
    color: #212121;
    font-size: 14px;
    position: relative;
}
.offers{
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.bankOff{
    color: #212121;
    font-weight: 500;
    padding-right: 4px;
    font-family: "semi-bold";

}
.yNKwUY{
    margin-right: 10px;

}
.t-c{
    position: relative;
    display: inline-block;
    color: #2874f0;
    font-weight: 500;
    margin-left: 5px;
    cursor: pointer;
    font-family: "semi-bold";



}
.viewPoints{
    display: inline-block;
    margin-left: 8px;

}
.viewPointsbt{
    color: #2874f0;
    border: none;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
    background-color: white;
    font-weight: 500;
}
.viewPl{
    margin-right: 4px;
    font-family: "semi-bold";

}
.viewMoreoff{
    margin-top: 8px;
    color: #2874f0;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    font-family: "semi-bold";
}