.sugestion-div{
    height: calc(100% - 4px);
    background-color: white;
    order: 3;
    grid-column: 1 /13;
}
.suggestion-sub{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 4px;
    height: 100%;
    width: 100%;
}
.suggetion-head-a{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    justify-content: space-between;
    position: relative;
    padding: 16px;
}
.sugg-head{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 1;

}
.sug-word-only{
    display: inline;
    overflow-wrap: normal;
    max-width: 100%;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -.01px;
}
.sugg-arrow{
    display: flex;
    flex-direction: column;
    border-radius: 30px;         
    overflow: hidden;
}
.sugg-arow-sub{
    background-color: blue;
}
.arrow-sub2{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.sug-img-div{
    display: flex;
    flex-flow: wrap;
    flex: 1 1 0%;
    margin-right: 4px;
    margin-left: 16px;
    margin-bottom: 4px;
}
.sug-img-one{
    flex-basis: 33.3333%;
    max-width: 33.33333%;
    flex-grow: 0;
    flex-shrink: 0;
}
.sugg-img-main{
    align-items: stretch;
    display:flex;
    flex-direction: column;
    border-radius: 4px;
    margin-right: 12px;
    margin-bottom: 12px; 
}
.sugg-img-only{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    height: 160px;
}
.sug-img-main{
    width: 100%;
    display: block;
    object-fit: contain;
    aspect-ratio: 13 /17;
}
.rating-sug{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    position: relative;

}
.sugg-rating-main-div{
    padding: 2px 6px;
    position: absolute;
    display: flex;
    flex-basis: auto;
    align-items: center;
    bottom: 4px;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    margin-left: 4px;
    margin-bottom: 4px;
    background-color: white;
}
.rating-only-sugg{

    display: inline;
    white-space: pre-wrap;
    overflow-wrap: break-word;

}
