

.movingscroll-main{
  background-color: #fff;
  margin-top: 0;
}
.subscroll{
  padding: 0px;
  overflow-y: hidden;
  overflow-x: auto;
  display: grid;
  scrollbar-width: none;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  grid-auto-columns: 100%;

}
.scroll-item-one{
  grid-auto-columns: 1fr;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  display: grid;
  grid-auto-flow: column;

}
.sub-scroll{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    aspect-ratio: 41 / 20;
    flex: 1 1 0%;
}
.scorllimgMain{
  display: block;
  object-fit: cover;
  aspect-ratio: 41 / 20;
  margin: auto;
  opacity: 1;
    width: 100%;


}
.slider{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 12px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-one{
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.13);
  margin-right: 4px;
  margin-left: 4px;
}

@media (max-width:767px) {
    .movingscroll-main{
        grid-column: 1 / 13;
        order: 1;

    }

    
}


